.grid{
    display: inline;
    justify-content: space-around;
}



.deposit{
    color:rgb(4, 154, 160);
    outline:1px solid;
    margin:1%;
    margin-top: 6%;
    margin-bottom: 6%;
}

.withdraw{
    color:rgb(207, 5, 190);
    outline:1px solid;
    margin:1%;
    margin-top: 6%;
    margin-bottom: 6%;
}

.field{
    outline:1px solid;
    color:white;
    margin:1%;
    margin-top: 6%;
    margin-bottom: 6%;
}


.Value{
    color:white
}