@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
 
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  /* background: #204b68;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #002c66, #204b68);  /* Chrome 10-25, Safari 5.1-6 */
  /* background: linear-gradient(to right, #002c66, #204b68); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
  background: rgb(19,10,20);
  background: linear-gradient(90deg, rgba(19,10,20,1) 1%, rgba(19,10,20,1) 18%, rgba(19,10,20,1) 38%, rgba(24,4,22,1) 54%, rgba(19,11,20,1) 74%, rgba(38,19,48,1) 94%);
  
}

h1 {
  font-size: 2.5rem;
  color: #2c292b;
}

h2 {
  font-size: 1.5rem;
  color: #2c292b;
}
